/*****************
General styles
*****************/
body {
  background: #FFE780;
  width: 100%;
  height: auto;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #11C1EA;
  line-height: 2.3rem;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6  {
  color: #FF7BAC;
  margin-top: 6rem;
}

h1 {
  text-transform: uppercase;
}

h2 {
  margin-bottom: 6rem;
  font-weight: 700;
}

h3 {
  margin: 3rem 0;
}

p {
  font-size: inherit;
  display: block;
  color: #11C1EA;
}

a {
  color: #11C1EA;
  text-decoration: none;
  transition: all 0.5s ease;
}

a:hover,
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #FF7BAC;
  text-decoration: none;
}

section {
  height: auto;
  padding-bottom: 9rem;
}

/**********************
NAVIGATION MENU
**********************/
.navbar-default {
  background: #FFE780;
  border: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #11C1EA;
}

.navbar-brand {
  font-weight: bold;
}

.navbar {
  margin-bottom: 0px;
  font-weight: bold;
}

li a img.img-circle {
  border: 2px solid #455376;
  margin-right: 5px;
  margin-left: auto;
  margin-top: -3px;
}

/********************
SLIDER
********************/
.carousel {
  width: 100%;
  height: auto;
}

.carousel-caption {
  bottom: auto;
}

.carousel-caption > h1 {
  color: #fff;
  text-shadow: none;
  font-weight: bolder;
}

/********************
JOIN SECTION
*******************/
.navod {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: auto;
  background: #11C1EA;
}

  #join,
  #join a {
  color: white;
  font-size: 1.8rem;
}

#join a {
  font-weight: bold;
  text-decoration: underline;
}

/***************
FOOTER
***************/
footer {
  height: 60px;
  padding: 1.50rem;
}

.fa {
  font-size: 1.25em;
}

.fa-i {
  font-size: 4em !important;
  color: #455376;
}

/****************
CONTACT SECTION
*****************/
#contact {
  background: url('../img/contact.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

#contact h2 {
  color: #fff !important;
}

.form-wrapper {
  background:rgba(51, 51, 51, 0.5);
  padding: 40px;
  border-radius: .2em;
}

.form-control:focus {
  border-color: #c5308a;
  outline: none;
  -webkit-box-shadow:  transparent;
  box-shadow: transparent;
}

.btn-primary {
  color: #fff;
  background-color: #455376;
  border-color: transparent;
  border-radius: 0.2em;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover,
.btn-primary:hover {
  background-color: #a1236f !important;
  border-color: transparent !important;
}

form div div:nth-child(5) {
  color: #fff;
  font-style:italic;
  font-size: 0.75em;
  line-height: 40px;
}

/******************
MOBILE IMAGE
*******************/
.mobile-image {
  background: url('img/uniporn-web-preview.jpg') no-repeat;
  background-size: cover;
  height: 200px;
  position: center;
}

.carousel-caption1 {
  color: #fff;
  margin-top: 75px;
}

.mobile-p {
  font-size: 18px;
}

@media all and (max-width: 1024px) {
  .interest-wrapper {
    min-height: 430px;
  }
}

@media all and (max-width: 768px) {
  .interest-wrapper {
    min-height: 200px !important;
    margin-top: 50px;
  }
}

@media all and (max-width: 736px) {
  .join2 {
    border-left: none;
  }
}
