body {
  font-size: 16px;
  line-height: 1.8;
}


nav.navbar.navbar-inverse.navbar-fixed-top {
  background: #FFE780 !important;
  border: none;
	box-shadow: 0px 5px -10px #727272 !important;
}

.nav-menu li a{
  color: #11c1ea !important;
  font-weight: 500;
}


.nav-menu li a:hover {
  color: #FF7BAC !important;
  font-weight: 500;
  border-bottom: 3px solid #ff7bac;
}

.yellow-section {
  margin-top: 0px;
  height: 600px;
  background: #FFE780;
  position: relative;
}

.blue-section {
  background: #11C1EA;
  height: 700px;
  padding-bottom: 150px;
  padding-top: 60px;
  color: #fff !important;
}

.pink-section {
  background: #FF7BAC;
  height: 800px;
  padding-bottom: 150px;
  padding-top: 60px;
  color: #fff !important;
}

.content-center {
  height: 850px;
  width: 850px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.unicorn-img {
  float: left;
  margin-top: 100px;
}

.main-heading {
  float: left;
  margin-top: 250px;
  font-size: 55px;
}

.blue-heading {
  font-weight: bold;
  color: #11c1ea;
}

.purple-heading {
  font-weight: bold;
  color: #FF7BAC;
}

.main-heading .subheading {
  font-size: 20.8px;
  font-weight: 200;
  margin-top: -80px;
  color: #FF7BAC;
}

iframe {
  border: none;
  width: 100%;
  height: 290px;
}

.list-section {
  margin-top: 50px;
  font-size: 12px;
}

.list-styled li {
  margin-top: 8px;
  font-size: 100%;
}

.list-styled {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
    display: table;
}

.list-styled li {
    counter-increment: step-counter;
    display: inline-block;
}

.list-styled li::before {
    content: counter(step-counter);
    text-align: justify;
    font-size: 100%;
    background-color: #FFE780;
    color: #FF7BAC;
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 0px;
    display: inline-block;
    margin-right: 25px;
}

label[for="file"] {
  background: red;
  display: block;
  width: 20px;
}

input[type="file"] {
  display: block;
  color: #FF7BAC;
}

.submit-btn {
  width: 80%;
  padding: 10px;
  border: none;
  background: #1aad4f;
}

.btn-section {
  margin-top: 140px;
}

.report-btn {
  background: none;
  padding: 15px 70px;
  border: 8px solid #d15d8c;
  color: #d15d8c;
  font-size: 30px;
  font-weight: bold;

}

.text-btn {
  margin-top: 50px;
  text-align: left;
}

*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.inputBtnSection{
    display:inline-block;
    vertical-align:top;
    font-size:0;
}
.disableInputField{
    display:inline-block;
    vertical-align:top;
    height: 30px;
    width: 700px;
    margin: 0;
    font-size:14px;
    padding: 5px 8px;
}

.fileUpload {
	position: relative;
	overflow: hidden;
    display:inline-block;
    vertical-align:top;
}
.uploadBtn{
    display:block;
    vertical-align:top;
    background:#FFE780;
    font-size:14px;
    padding: 5px 35px;
    height:30px;
    width: 150px;
    line-height:22px;
    color:#FF7BAC;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.section-item {
  font-size: 16px !important;
}
